/*! modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  line-height: 1.15;
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type='reset'],
[type='submit'],
button {
  -webkit-appearance: button;
}

[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

:root {
  --primary-text-color: rgba(46, 37, 32, 1);
  --input-color: rgba(171, 129, 108, 0.5);
  --button-background-color: rgba(171, 129, 108, 1);
  --modal-background-color: rgba(254, 243, 228, 0.9);
  --accent-background-color: rgba(254, 243, 228, 1);
  --focus-hover-color: rgb(255, 139, 158);
  --primary-text-color: rgba(46, 37, 32, 1);
  --background-color: rgba(255, 255, 249, 1);
  --read-more-color: rgba(171, 129, 108, 1);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: 'Caveat Brush', serif;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  height: auto;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  color: var(--primary-text-color);
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: top;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: inline-block;
  height: auto;
  max-width: 100%;
}

.link {
  text-decoration: none;
  color: inherit;
}

.title {
  color: var(--primary-text-color);
  font-family: Caveat Brush;
  font-style: normal;
  font-size: 24px;
  line-height: 2.7;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: top;
}

@media screen and (min-width: 1280px) {
  .title--size {
    font-size: 36px;
    line-height: 1.81;
  }
}

.text {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.25;
}

@media screen and (min-width: 1280px) {
  .text--size {
    font-size: 18px;
    line-height: 1.2;
  }
}

.button {
  font-family: Caveat Brush, sans-serif;
  color: var(--read-more-color);
  border: none;
  background-color: transparent;
  font-size: 18px;
  line-height: 3.61;
  padding: 0;
  cursor: pointer;
  margin-top: 5px;
}

@media screen and (min-width: 1280px) {
  .button {
    display: none;
  }
}

.form {
  max-width: 265px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__input {
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid var(--read-more-color);
}

.form__input:not(:last-child) {
  margin-bottom: 25px;
}

.form__input:focus {
  outline: none;
}

.form__input:valid {
  color: rgba(46, 37, 32, 0.7);
  border-bottom-color: var(--read-more-color);
}

.form__input:focus:invalid {
  color: #f9546f;
  border-bottom-color: #f9546f;
}

.form__input:placeholder-shown:focus {
  border-bottom-color: var(--read-more-color);
}

.form__input::-webkit-input-placeholder {
  color: var(--input-color);
}

.form__input:-ms-input-placeholder {
  color: var(--input-color);
}

.form__input::-ms-input-placeholder {
  color: var(--input-color);
}

.form__input::placeholder {
  color: var(--input-color);
}

.form__button {
  min-width: 145px;
  height: 40px;
  margin-top: 37px;
  background: var(--read-more-color);
  border-radius: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
  color: var(--background-color);
}

.form__button:hover, .form__button:focus, .form__button:active {
  color: var(--focus-hover-color);
}

@media screen and (min-width: 1280px) {
  .form__button {
    min-width: 158px;
    height: 45px;
    font-size: 24px;
  }
}

.about-us {
  background-color: var(--background-color);
}

@media screen and (min-width: 768px) and (max-width: 1279.98px) {
  .about-us__picture {
    width: 329.65px;
  }
}

@media screen and (min-width: 768px) {
  .about-us__content {
    display: inline-block;
    margin-left: 24.35px;
    vertical-align: top;
    width: 325px;
  }
}

@media screen and (min-width: 1280px) {
  .about-us__content {
    padding-top: 65px;
    width: 392px;
    margin-left: 76px;
  }
}

@media screen and (max-width: 767.98px) {
  .about-us__title {
    text-align: center;
  }
}

@media screen and (min-width: 1280px) {
  .about-us__title {
    font-size: 36px;
    line-height: 1.81;
  }
}

@media screen and (min-width: 1280px) {
  .about-us__text {
    font-size: 18px;
    line-height: 1.2;
    margin-top: 10px;
  }
}

#more {
  display: none;
}

.program {
  background-color: var(--background-color);
  margin-bottom: 25px;
}

@media screen and (max-width: 1279.98px) {
  .program__button {
    display: block;
  }
}

@media screen and (max-width: 767.98px) {
  .program__title {
    text-align: center;
  }
}

.program .program-container {
  margin-bottom: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .program .program-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 635px;
  }
}

@media screen and (min-width: 1280px) {
  .program .program-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 825px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 320px) and (min-width: 768px) {
  .program .program__container--text {
    max-width: 290px;
  }
}

@media screen and (min-width: 1280px) {
  .program .program__container--text {
    max-width: 392px;
    margin-right: 20px;
  }
}

.program .program-list__item::before {
  content: '\21d2';
  margin-right: 5px;
}

.program .program-list__item {
  margin-bottom: 10px;
}

.program #much {
  display: none;
}

@media screen and (min-widthh: 1280px) {
  .program #much {
    visibility: hidden;
  }
}

.program .program-list__event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.program .program-list__event--item {
  position: relative;
  background-color: #fef3e4;
  border-radius: 50%;
  width: 142px;
  height: 142px;
  -webkit-box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
          box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);
}

@media screen and (min-width: 1280px) {
  .program .program-list__event--item {
    width: 180px;
    height: 180px;
  }
}

.program .program__event--item--donat {
  position: absolute;
  display: block;
  top: -20%;
  left: 35px;
}

@media screen and (min-width: 1280px) {
  .program .program__event--item--donat {
    top: -25%;
    left: 45px;
  }
}

.program .program__donut--size-1 {
  width: 76.52px;
  height: 84.41px;
}

@media screen and (min-width: 1280px) {
  .program .program__donut--size-1 {
    width: 97px;
    height: 107px;
  }
}

.program .program__donut--size-2 {
  width: 64.86px;
  height: 71.89px;
}

@media screen and (min-width: 1280px) {
  .program .program__donut--size-2 {
    width: 83px;
    height: 92px;
  }
}

.program .program__donut--size-3 {
  width: 69.42px;
  height: 76.52px;
}

@media screen and (min-width: 1280px) {
  .program .program__donut--size-3 {
    width: 88px;
    height: 97px;
  }
}

.program .program__donut--size-4 {
  width: 65.48px;
  height: 72.58px;
}

@media screen and (min-width: 1280px) {
  .program .program__donut--size-4 {
    width: 83px;
    height: 92px;
  }
}

.program .program-list__event--item:nth-child(2n) {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  margin-left: 6px;
}

@media screen and (min-width: 1280px) {
  .program .program-list__event--item:nth-child(2n) {
    -webkit-transform: translateY(60px);
            transform: translateY(60px);
    margin-left: 20px;
  }
}

.program .program-list__event--item:nth-child(-n + 2) {
  margin-bottom: 57px;
}

.program .program__subtitle {
  margin-top: 49.7px;
  font-size: 18px;
  line-height: 1.28;
  color: #000000;
}

@media screen and (min-width: 1280px) {
  .program .program__subtitle {
    font-size: 24px;
    line-height: 1.25;
    margin-top: 63px;
  }
}

.program .program__subtext {
  margin-top: 12.6px;
  margin-bottom: 13.4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  color: #000000;
}

.program .program__icon-1 {
  width: 19.5px;
  height: 18px;
}

@media screen and (min-width: 1280px) {
  .program .program__icon-1 {
    width: 24, 62px;
    height: 22, 82px;
  }
}

.program .program__icon-2 {
  width: 20px;
  height: 18px;
}

@media screen and (min-width: 1280px) {
  .program .program__icon-2 {
    width: 26px;
    height: 23, 36px;
  }
}

.program .program__icon-3 {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 1280px) {
  .program .program__icon-3 {
    width: 25px;
    height: 25px;
  }
}

.program .program__icon-4 {
  width: 25px;
  height: 17px;
}

@media screen and (min-width: 1280px) {
  .program .program__icon-4 {
    width: 31.48px;
    height: 21.3px;
  }
}

.registration {
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .registration {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/src/images/registration/tablet/confetti_tablet.png);
    background-image: url(/src/images/registration/tablet/confetti_tablet@2x.png);
    background-image: url(/src/images/registration/tablet/donut_tablet.png);
    background-image: url(/src/images/registration/tablet/donut_tablet@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .registration {
    background-image: url(/src/images/registration/desktop/donut_desktop.png);
    background-image: url(/src/images/registration/desktop/donut_desktop@2x.png);
    background-image: url(/src/images/registration/desktop/confetti_desktop.png);
    background-image: url(/src/images/registration/desktop/confetti_desktop@2x.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.registration__title {
  margin-top: 15px;
  z-index: 100;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .registration__title {
    margin-bottom: 10px;
    position: static;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.registration__bg {
  min-width: 290px;
  height: 100vh;
  margin: auto 15px auto 15px;
  background-color: var(--accent-bg-color);
  -webkit-box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
          box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
  border-radius: 150px 150px 0px 0px;
}

.registration-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media screen and (min-width: 768px) {
  .registration-data {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.time-location-price {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin-top: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.time-location-price::after {
  content: '';
  width: 265px;
  border-bottom: 1px solid rgba(171, 129, 108, 0.5);
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

@media screen and (min-width: 768px) {
  .time-location-price::after {
    width: 190px;
    margin-bottom: 30px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

@media screen and (min-width: 768px) {
  .time-location-price {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.registration-form__title {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .registration-form__title {
    text-align: start;
  }
}

.registration-form__field {
  background-color: transparent;
}

.registration-form__field:focus::-webkit-input-placeholder {
  color: rgba(171, 129, 108, 0.25);
}

.registration-form__field:focus:-ms-input-placeholder {
  color: rgba(171, 129, 108, 0.25);
}

.registration-form__field:focus::-ms-input-placeholder {
  color: rgba(171, 129, 108, 0.25);
}

.registration-form__field:focus::placeholder {
  color: rgba(171, 129, 108, 0.25);
}

.form__button-text {
  color: white;
}

.contact__container {
  text-align: center;
  padding-bottom: 82px;
}

.contact__text {
  margin-bottom: 23px;
}

@media screen and (min-width: 1280px) {
  .contact__text {
    margin-bottom: 21px;
  }
}

@media screen and (min-width: 768px) {
  .contact__form {
    max-width: 410px;
  }
}

@media screen and (min-width: 1280px) {
  .contact__form {
    max-width: 430px;
  }
}
/*# sourceMappingURL=main.css.map */