<section class="registration">
  <h2 class="title registration__title">Registration</h2>
  <container class="container registration__bg registration-data">
    <div class="reg-data text">
      <time datetime="2021-05-23T11:00+07:00"> May 23, 11:00</time>
      <address>
        <a class="link" href="https://goo.gl/maps/uQZwg2VmSYYeFe7W9" target="_blank" rel="noopener noreferrer nofollow">
          New York
        </a>
      </address>
      <p class="reg-data__price">$ 699</p>
    </div>
    <hr class="reg-data--line"/>
    <div class="reg-form">
      <p class="reg-form__title">
        Apply your personal info <br />
        for registration
      </p>
      <div class="reg-form__view">
        <form class="form">
          <input class="form__input" type="text" pattern="^[a-zA-Z\s]+$" name="name" minlength="3" id="user_name"
            placeholder="Your name" required />
          <input class="form__input" type="tel" pattern="(\+?\d[- .]*){7,13}" name="phone" id="user_phone"
            placeholder="Phone number" required />
          <input class="form__input" type="email" name="email" id="user_email" placeholder="Email" />
        </form>
        <button class="button form__button reg-form__button" type="submit">
          Register
        </button>
      </div>
    </div>
  </container>
</section>