<section class="reviews" id="reviews">
  <h2 class="title reviews__title">Reviews</h2>
  <!-- Reviews Swiper -->
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-001.html"></include>
        <!-- Next review client -->
        <div class="review__client-preview">
          <div class="review__client-preview-next">
            <div class="review__client-set">
              <img
                class="review__client-photo"
                src="../src/images/reviews/desktop/will_desktop.jpg"
                srcset="
                  ../src/images/reviews/desktop/will_desktop.jpg    1x,
                  ../src/images/reviews/desktop/will_desktop@2x.jpg 2x
                "
                alt="review 002"
              />
              <div class="review__client--rate">
                <svg class="review__rate" width="24px" height="24px">
                  <use href="../src/images/sprite/ratestars.svg#icon-star-full"></use>
                </svg>
                <svg class="review__rate" width="24px" height="24px">
                  <use href="../src/images/sprite/ratestars.svg#icon-star-full"></use>
                </svg>
                <svg class="review__rate" width="24px" height="24px">
                  <use href="../src/images/sprite/ratestars.svg#icon-star-full"></use>
                </svg>
                <svg class="review__rate" width="24px" height="24px">
                  <use href="../src/images/sprite/ratestars.svg#icon-star-full"></use>
                </svg>
                <svg class="review__rate" width="24px" height="24px">
                  <use href="../src/images/sprite/ratestars.svg#icon-star-full"></use>
                </svg>
              </div>
              <h3 class="review__client-name">Will</h3>
            </div>
          </div>
          <div class="review__client-preview-pervious">
            <div class="review__client-set">
              <img
                class="review__client-photo"
                src="../src/images/reviews/desktop/elisabeth_desktop.jpg"
                srcset="
                  ../src/images/reviews/desktop/elisabeth_desktop.jpg    1x,
                  ../src/images/reviews/desktop/elisabeth_desktop@2x.jpg 2x
                "
                alt="review 003"
              />
              <div class="review__client--rate">
                <svg class="review__rate" width="24px" height="24px">
                  <use href="../src/images/sprite/ratestars.svg#icon-star-full"></use>
                </svg>
                <svg class="review__rate" width="24px" height="24px">
                  <use href="../src/images/sprite/ratestars.svg#icon-star-full"></use>
                </svg>
                <svg class="review__rate" width="24px" height="24px">
                  <use href="../src/images/sprite/ratestars.svg#icon-star-full"></use>
                </svg>
                <svg class="review__rate" width="24px" height="24px">
                  <use href="../src/images/sprite/ratestars.svg#icon-star-full"></use>
                </svg>
                <svg class="review__rate" width="24px" height="24px">
                  <use href="../src/images/sprite/ratestars.svg#icon-star-full"></use>
                </svg>
              </div>
              <h3 class="review__client-name">Elisabeth</h3>
            </div>
          </div>
        </div>
        <!-- ------------------ -->
      </div>
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-002.html"></include>
      </div>
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-003.html"></include>
      </div>
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-004.html"></include>
      </div>
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-005.html"></include>
      </div>
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-006.html"></include>
      </div>
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-007.html"></include>
      </div>
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-008.html"></include>
      </div>
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-009.html"></include>
      </div>
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-010.html"></include>
      </div>
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-011.html"></include>
      </div>
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-012.html"></include>
      </div>
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-013.html"></include>
      </div>
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-014.html"></include>
      </div>
      <div class="swiper-slide review__slider">
        <include src="./partials/database/client-data-015.html"></include>
      </div>
    </div>
    <div class="swiper-pagination review__counter"></div>
  </div>

  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  <script>
    const swiper = new Swiper('.swiper-container', {
      direction: 'horizontal',
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        type: 'fraction',
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      scrollbar: {
        el: '.swiper-scrollbar',
      },
    });
  </script>
</section>
