.form {
  max-width: 290px;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  align-items: center;
}

.form__input {
  width: 100%;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid;
  border-color: var(--read-more-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  &:focus {
    outline: none;
  }

  &:valid {
    color: rgba(46, 37, 32, 0.7);
    border-bottom-color: var(--read-more-color);
  }

  &:focus:invalid {
    color: rgb(249, 84, 111);
    border-color: rgb(249, 84, 111);
  }
  &:placeholder-shown:focus {
    border-color: var(--read-more-color);
  }
  &::placeholder {
    color: var(--input-color);
  }
}

.form__button {
  min-width: 145px;
  height: 40px;
  margin-top: 37px;
  background-color: var(--read-more-color);
  border-radius: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  color: var(--background-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--focus-hover-color);
  }

  @media screen and (min-width: 825px) {
    min-width: 158px;
    height: 45px;
    font-size: 24px;
  }
}
