.navigation-list {
  display: inline-flex;
  font-size: 18px;
  @media screen and (max-width: 1279.98px) {
    display: none;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 20px;
}

.navigation {
  display: flex;

  @media screen and (min-width: 1280px) {
    align-items: center;
  }
}

.navigation__item:hover,
.navigation__item:focus,
.navigation__item:active {
  color: var(--focus-hover-color);
}
