.contact__container {
  text-align: center;
  padding-bottom: 82px;
}

.contact__text {
  margin-bottom: 23px;

  @media screen and (min-width: 825px) {
    & {
      margin-bottom: 21px;
    }
  }
}

.contact__form {
  @media screen and (min-width: 635px) {
    max-width: 410px;
  }

  @media screen and (min-width: 825px) {
    max-width: 430px;
  }
}
