.program {
  background-color: var(--background-color);
  padding-bottom: 45px;
  @media screen and (min-width: 768px) {
    padding-bottom: 20px;
  }

  &__button {
    @media screen and (max-width: 1279.98px) {
      display: block;
    }

    @media screen and (min-width: 1280px) {
      display: none;
    }
  }

  &__title {
    @media screen and (max-width: 767.98px) {
      text-align: center;
    }
    @media screen and (min-width: 1280px) {
      font-size: 36px;
      line-height: 1.81;
    }
  }
  @media screen and (min-width: 1280px) {
    .program__text {
      font-size: 18px;
      line-height: 1.22;
    }
  }
  &-container {
    margin-bottom: 25px;
    justify-content: center;
    @media screen and (min-width: 635px) {
      display: flex;
      width: 768px;
    }
    @media screen and (min-width: 825px) {
      display: flex;
      width: 825px;
      padding-bottom: 40px;
    }
  }
  &__container--text {
    @media screen and (min-width: 320px) and (min-width: 768px) {
      width: 1280px;
      padding-bottom: 50px;
    }
  }
  .program__container--text {
    // @media screen and (min-width: 320px) and (min-width: 768px) {
    //   max-width: 320px;
    // }
    @media screen and (min-width: 290px) {
      max-width: 290px;
    }

    @media screen and (min-width: 825px) {
      max-width: 392px;
      margin-right: 20px;
    }
  }
  &-list__item::before {
    content: '\21d2';
    margin-right: 5px;
  }
  &-list__item {
    margin-bottom: 10px;
  }
  @media screen and (min-widthh: 1280px) {
    .program-list__item {
      font-size: 18px;
      line-height: 1.22;
    }
  }
  #much {
    display: none;

    // @media screen and (min-width: 1280px) {
    //   visibility: hidden;
    // }
  }

  .program-list__event {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
  }

  &-list__event--item {
    position: relative;
    background-color: #fef3e4;
    border-radius: 50%;
    width: 142px;
    height: 142px;
    box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);

    @media screen and (min-width: 1280px) {
      width: 180px;
      height: 180px;
    }
  }
  &__event--item--donat {
    position: absolute;
    display: block;
    top: -20%;
    left: 35px;
    @media screen and (min-width: 1280px) {
      top: -25%;
      left: 45px;
    }
  }
  &__donut--size-1 {
    width: 76.52px;
    height: 84.41px;
    @media screen and (min-width: 1280px) {
      width: 97px;
      height: 107px;
    }
  }
  &__donut--size-2 {
    width: 64.86px;
    height: 71.89px;
    @media screen and (min-width: 1280px) {
      width: 83px;
      height: 92px;
    }
  }
  &__donut--size-3 {
    width: 69.42px;
    height: 76.52px;
    @media screen and (min-width: 1280px) {
      width: 88px;
      height: 97px;
    }
  }
  &__donut--size-4 {
    width: 65.48px;
    height: 72.58px;
    @media screen and (min-width: 1280px) {
      width: 83px;
      height: 92px;
    }
  }
  &-list__event--item:nth-child(2n) {
    @media screen and (max-width: 319.98px) {
      transform: translateY(0px);
    }
    transform: translateY(30px);
    margin-left: 6px;
    @media screen and (min-width: 1280px) {
      transform: translateY(50px);
      margin-left: 20px;
    }
  }
  &-list__event--item:nth-child(-n + 2) {
    margin-bottom: 57px;
    @media screen and (max-width: 319.98px) {
      margin-bottom: 0px;
    }
  }

  &-list__event--item:not(:first-child) {
    @media screen and (max-width: 319.98px) {
      margin-top: 40px;
    }
  }
  &__subtitle {
    margin-top: 49.7px;
    font-size: 18px;
    line-height: 1.28;
    color: #000000;

    @media screen and (min-width: 1280px) {
      font-size: 24px;
      line-height: 1.25;
      margin-top: 63px;
    }
  }
  &__subtext {
    margin-top: 12.6px;
    margin-bottom: 13.4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.21;
    color: #000000;
  }
  &__icon-1 {
    width: 19.5px;
    height: 18px;
    @media screen and (min-width: 1280px) {
      width: 24, 62px;
      height: 22, 82px;
    }
  }
  &__icon-2 {
    width: 20px;
    height: 18px;
    @media screen and (min-width: 1280px) {
      width: 26px;
      height: 23, 36px;
    }
  }
  &__icon-3 {
    width: 20px;
    height: 20px;
    @media screen and (min-width: 1280px) {
      width: 25px;
      height: 25px;
    }
  }
  &__icon-4 {
    width: 25px;
    height: 17px;
    @media screen and (min-width: 1280px) {
      width: 31.48px;
      height: 21.3px;
    }
  }
}
