// .registration {
//   padding-top: 30px;
//   padding-bottom: 30px;
//   text-align: center;
//   background-color: var(--accent-background-color);

//   &__title {
//     margin-bottom: 20px;
//     font-weight: 400;
//   }

//   &__data {
//     padding-top: 15px;
//     padding-bottom: 45px;
//     background-color: var(--background-color);
//     box-shadow: -4px -4px 4px rgba(171, 129, 108, 0.15), 4px 4px 4px rgba(171, 129, 108, 0.15);
//     border-radius: 150px 150px 0px 0px;
//   }

//   @media screen and (min-width: 768px) {
//     &__data {
//       max-height: 260px;
//       position: relative;
//       padding-bottom: 50px;
//       padding-top: 40px;
//       border-radius: 150px;
//     }
//   }
// }
// .reg-form {
//   padding: 0 15px 0 15px;
//   position: relative;
//   z-index: 100;
//   overflow: hidden;
//   font-size: 18px;
//   line-height: 1.22;

//   &__info {
//     padding-bottom: 20px;
//     margin-bottom: 10px;
//     border-bottom: 1px solid rgba(171, 129, 108, 0.5);
//   }

//   &__time {
//     width: 160px;
//     text-align: center;
//     margin-left: auto;
//     margin-right: auto;
//     margin-bottom: 25px;
//   }

//   &__price {
//     font-weight: 500;
//   }

//   &__title {
//     margin-bottom: 10px;
//   }

//   &__label {
//     margin-bottom: 25px;
//   }

//   &__button {
//     text-align: center;
//   }

//   @media screen and (min-width: 768px) {
//     display: flex;
//     flex-direction: row;
//     margin-left: auto;
//     margin-right: auto;
//     height: 260px;
//     padding: 35px 20px 35px 34px;

//     &__info {
//       text-align: end;
//       padding: 20px 30px 0 0;
//       margin: 0 30px 0 0;
//       border-left: none;
//       border-top: none;
//       border-right: 1px solid var(--read-more-color);
//       border-bottom: none;
//     }

//     &__time {
//       text-align: end;
//     }
//     &__title {
//       text-align: justify;
//     }
//     &__view {
//       display: flex;
//       flex-direction: column;
//       margin-right: 25px;
//       padding-top: 20px;
//       width: 235px;
//     }

//     &__input {
//       margin-bottom: 15px;
//     }

//     &__button {
//       display: flex;
//       align-items: center;
//     }
//   }

//   @media screen and (min-width: 1280px) {
//     width: 830px;

//     padding: 35px 100px 35px 104px;
//     margin-left: auto;
//     margin-right: auto;

//     &__view {
//       margin-right: 45px;
//     }

//     &__time,
//     &__price {
//       font-size: 20px;
//       line-height: 1.2;
//     }

//     &__info {
//       font-size: 18px;
//       line-height: 1.2;
//     }
//   }
// }

// .registration-donut {
//   display: none;

//   @media screen and (min-width: 768px) {
//     display: block;
//     position: absolute;
//     left: -70px;
//     top: 20px;
//     z-index: 0;
//   }

//   @media screen and (min-width: 1280px) {
//     &__img {
//       width: 250px;
//       height: 250px;
//     }
//   }
//   &__img {
//     width: 235px;
//     height: 235px;
//   }
// }
// .registration-confetti {
//   display: none;

//   @media screen and (min-width: 768px) {
//     display: block;
//     position: absolute;
//     right: 0;
//     top: 200px;
//     z-index: 0;

//     &__img {
//       width: 280px;
//       height: 280px;
//     }
//   }

//   @media screen and (min-width: 1280px) {
//     right: 100px;
//     top: 100px;
//   }
//   &__img {
//     width: 600px;
//     height: 600px;
//   }
// }
